:root {
  --theme-color: #81adde;
  --white-color: #fff;
  --header-height: 85px;
  --grey-font-color: #889097;
  --grey-border-color: #ebebeb;
  --black-color: #333;
  --blue-color:#00c6f7;
  --a-color:#212529;
}
